<onboarding-config>
    <laragon-host>localhost</laragon-host>
    <laragon-port>9090</laragon-port>
    <form-admin-user>admin</form-admin-user>
    <form-admin-password>admin</form-admin-password>
    <form-result-file>C:\Users\Adi\Apps\Laragon\www\forms\CompleteDetails\form_results.csv</form-result-file>
    <bamboohr-domain>rpabmc</bamboohr-domain>
    <bamboohr-user>samarac6@yjcoupone.com</bamboohr-user>
    <bamboohr-password>Bamboo2019</bamboohr-password>
    <bamboohr-company>Matrix IT</bamboohr-company>
    <check-sample-file>C:\Users\Adi\Documents\Automation Anywhere Files\Automation Anywhere\My Tasks\onboarding-rpa\OCR Images\check.png</check-sample-file>
    <ocr-reference-file>C:\Users\Adi\Documents\Automation Anywhere Files\Automation Anywhere\My Tasks\onboarding specialist - BMC\OCR Images\micr_e13b_reference.png</ocr-reference-file>
</onboarding-config>